@import "./breakpoints.scss";
@import "./colors.scss";

.container {
  padding: 0 2rem;
}

.main {
  background-color: $bg;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_column {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;

  @include sm {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
  }
}

.header_outer {
  position: sticky;
  top: 0;
  background-color: $bg;
  width: 100%;
  z-index: 200;
}

.header {
  background-color: $bg;
  width: 100%;
  max-width: $screen-xl-min;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: $bg;
  margin: auto;
  padding-left: 2rem;

  @include sm {
    height: 6rem;
  }

  @include lg {
    padding: 0 4rem;
  }

  .button {
    padding: 0 2rem;
  }
}

.header_logo {
  position: relative;
  width: 6rem;
  height: 100%;
}

.header_try_button {
  display: none;

  @include md {
    display: block;
  }
}

.header_menu_button {
  display: block;
  width: 1.4rem;
  fill: $gray;

  @include md {
    display: none;
  }
}

.logo {
  text-transform: uppercase;
  font-family: Roboto Mono, monospace;
  font-size: 1.4rem;
  font-weight: 700;

  .hit {
    color: $black;
  }
  .save {
    color: $accent;
  }
}

.nav {
  display: none;
  font-weight: 600;
  color: $gray;
  justify-content: space-between;
  text-align: center;
  line-height: 1.4rem;
  align-items: center;

  @include md {
    display: flex;
  }
}

.nav_item {
  padding: 0 2rem;
  height: 100%;
  border-radius: 5px;
}

.nav_item:hover {
  cursor: pointer;
  color: $accent;
}

.button {
  height: 33px;
  background-color: $black;
  color: $white;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}

.button:hover {
  background-color: $gray;
  cursor: pointer;
}

.ghost {
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
}

.ghost:hover {
  background-color: $accent;
  border-color: $accent;
  color: $white;
}

.hero {
  width: 100%;
  z-index: 100;

  .hero_wrapper {
    display: flex;
    justify-content: center;
    padding-top: 3rem;

    @include sm {
      padding-top: 6rem;
    }
  }

  .logo {
    font-size: 6rem;
  }

  .column {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
  }

  .main_logo {
    position: relative;
    width: 100%;
    height: 4rem;
  }

  .tagline {
    font-family: Roboto Mono, monospace;
    font-weight: 700;
    font-size: 2rem;
    color: $black;
    margin-top: 3rem;
    text-align: center;
  }

  .description {
    font-family: default;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6em;
    text-align: center;
    color: $gray-200;
    margin-top: 2.5rem;
  }

  .waitlist {
    margin-top: 2rem;
  }

  .cta {
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;

    .button {
      padding: 0 2rem;
    }

    .button:not(:last-child) {
      margin-right: 1rem;
    }
  }

  .animation {
    margin-top: 2.5rem;
  }
}

.panel_wave {
  width: 100%;
  margin-top: -16rem;
  padding-top: 24rem;
  padding-bottom: 6rem;
  background-image: url("./panel_wave.svg");
  background-size: cover;
  z-index: 0;

  @include sm {
    padding-bottom: 12rem;
  }
}

.steps_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $screen-xl-min;
  margin: auto;
}

.steps_heading {
  font-weight: 600;
  font-size: 2rem;
  color: $white;
}

.steps {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include md {
    margin-top: 6rem;
    flex-direction: row;
  }

  .step {
    display: flex;
    flex: 1 1 0;
    margin-top: 4rem;

    @include md {
      margin-top: 0;
    }

    .step_number {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $bg;
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 999px;
      margin-right: 2rem;

      color: $accent;
      font-size: 2.67rem;
      font-weight: 700;
    }

    .step_content {
      flex: 1;

      .step_heading {
        display: flex;
        height: 4.5rem;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 700;
        color: $white;
      }

      .step_heading_code {
        font-family: Roboto Mono, monospace;
        font-size: 1.5rem;
        font-weight: 700;
        color: $accent;
        background-color: $bg;
        border-radius: 5px;
        padding: 5px 1rem;
      }

      .step_detail {
        color: $white;
        font-size: 1.2rem;
        margin-top: 1.5rem;

        .mono {
          font-family: Roboto Mono, monospace;
          background-color: $white;
          color: $accent;
          border-radius: 3px;
          padding: 0 2px;
        }
      }
    }
  }

  @include md {
    .step:not(:last-child) {
      margin-right: 3rem;
    }
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
