@import "../../styles/colors.scss";

.button {
  height: 33px;
  background-color: $black;
  color: $white;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}

.button:hover {
  background-color: $gray;
  cursor: pointer;
}

.ghost {
  background-color: transparent;
  border: 1px solid $black;
  color: $black;
}

.ghost:hover {
  background-color: $accent;
  border-color: $accent;
  color: $white;
}
