server {
    listen      80;
    server_name api.${NGINX_HOST};
    
    location / {
        return 301 https://$host$request_uri;
    }
}

server {
    listen      443 ssl;
    server_name api.${NGINX_HOST};

    ssl_certificate ${CERT_FILE};
    ssl_certificate_key ${CERT_PRIV_KEY_FILE};

    location / {
        proxy_pass http://api:8080;
    }
}
