server {
    listen      80;
    server_name www.${NGINX_HOST};
    
    location / {
        return 301 https://www.hitsave.io$request_uri;
    }
}

server {
    listen      443 ssl;
    server_name www.${NGINX_HOST};

    ssl_certificate /etc/letsencrypt/live/hitsave.io/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/hitsave.io/privkey.pem;
    
    location / {
        proxy_pass http://web:3000;
    }
}
